@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {
  body {
    font-family: 'Arima', sans-serif;
  }

@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
  }

  
  .animation-delay-300 {
    animation-delay: 0.3s;
  }
  .animation-delay-600 {
    animation-delay: 0.6s;
  }
  .animation-delay-900 {
    animation-delay: 0.9s;
  }
  .animation-delay-1200 {
    animation-delay: 1.2s;
  }
}
}
